<h1>Listing attached_copies</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Story</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @attached_copies.each do |attached_copy| %>
  <tr>
    <td><%= attached_copy.content %></td>
    <td><%= attached_copy.story_id %></td>
    <td><%= link_to 'Show', attached_copy %></td>
    <td><%= link_to 'Edit', edit_attached_copy_path(attached_copy) %></td>
    <td><%= link_to 'Destroy', attached_copy, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Attached copy', new_attached_copy_path %>
