<li class="stack" id="<%= "stack_#{story.id}" %>">
  <% story.attached_copies.each do |copy| %>
    <%= render 'stacks/card', :card => copy %>
  <% end %>

  <% story.attached_images.each do |image| %>
    <%= render 'stacks/card', :card => image %>
  <% end %>

  <% story.tasks.each do |task| %>
    <%= render 'stacks/card', :card => task %>
  <% end %>

  <%= render 'stacks/card', :card => story %>

  <div class="users" id="<%= "for_story_id_#{story.id}" %>">
    <% story.users.each do |user| %>
      <%= image_tag user.photo, :class => 'user photo', :id => "user_#{user.id}" %>
    <% end %>
  </div>

  <% if story.tasks.any? %>
    <% if story.tasks.complete.size > 0 %>
      <% progress = story.tasks.complete.size == story.tasks.size ? 'done' : 'in-progress' %>
    <% end %>
    <span class="progress <%= progress if progress %>">
      <%= "#{story.tasks.complete.size}/#{story.tasks.size}"%>
    </span>
  <% end %>
</li>
