<div class="span3">
  <h3>
    <%= state.name %>
    <% if state == @states.first %>
      <span id="new-story-button">
        <%= link_to '+', '#' %>
      </span>
    <% end %>
  </h3>

  <p class="state-limit">
    <% if state == @states.first %>
      Next 5 stories
    <% elsif state == @states.last %>
      Last 5 stories
    <% else %>
      <% if state.stories.size > state.limit %>
        <span class="alert">Only <%= state.limit %> stories allowed!</span>
      <% else %>
        <%= state.limit %> stories allowed
      <% end %>
    <% end %>
  </p>

  <%= content_tag_for :ul, state do %>

    <% if state == @states.first %>
      <div id="new-story" class="card">
        <%= form_for @new_story do |f| %>
          <%= f.text_field :name %>
          <%= f.submit :class => 'hidden' %>
        <% end %>
      </div>
    <% end %>

    <div class="drop-zone"></div>

    <% state.stories.normal.each do |story| %>
      <%= render 'stacks/stack', :story => story %>
    <% end %>

  <% end %>
</div>