<div id="header">
  <h3><%= @story.name %></h3>
  <p>Requested by <%= link_to @story.user.name, @story.user.photo %></p>
  <div class="users clearfix story-page">
    <% @story.users.each do |user| %>
      <%= image_tag user.photo, :class => 'user photo', :id => "user_#{user.id}" %>
    <% end %>
  </div>
</div>


<h4>Tasks</h4>
<ul>
  <% @story.tasks.each do |task| %>
    <li>
      <input type="checkbox" <%= "checked" if task.done %> />
      <%= task.name %>
    </li>
  <% end %>
</ul>

<% if @story.attached_images.any? %>
  <h4>Images</h4>
  <ul>
    <% @story.attached_images.each do |image| %>
      <%= render 'stacks/card', :card => image, :link_on_image => true %>
    <% end %>
  </ul>
<% end %>

<% if @story.attached_copies.any? %>
  <h4>Copies</h4>
  <% @story.attached_copies.each do |copy| %>
    <p><%= copy.content %></p>
  <% end %>
<% end %>

<h4>Comments</h4>

<%= link_to 'Back', root_path %>
