<div id="header">
  <h3><%= @story.name %></h3>

  <p><%= @story.description %></p>

  <p>
    Requested by <%= link_to @story.user.name, @story.user.photo %>
    <%= time_ago_in_words(@story.created_at) %> ago |
    <%= link_to "Edit", edit_story_path(@story) %>
  </p>

  <div class="users clearfix story-page">
    <% @story.users.each do |user| %>
      <%= image_tag user.photo, :class => 'user photo', :id => "user_#{user.id}" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="span-one-third">
    <div id="tasks" class="block">
      <h4>Tasks</h4>
      <ul>
        <% @story.tasks.each do |task| %>
          <li>
            <p>
              <input type="checkbox" <%= "checked" if task.done %> />
              <%= task.name %>
            </p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div id="images" class="span-two-thirds">
    <% if @story.attached_images.any? %>
      <% @story.attached_images.each_with_index do |image, i| %>
        <%= link_to image_tag(image.url), image.url, :class => "#{'last' if i % 3 == 2}" %>
      <% end %>
    <% end %>
  </div>
</div>

<% if @story.attached_copies.any? %>
  <div id="copy" class="block">
    <h4>Copy</h4>
    <% @story.attached_copies.each do |copy| %>
      <p class="<%= 'last' if copy == @story.attached_copies.last %>">
        <%= copy.content %><br /><br />
        <%= link_to "Edit", edit_attached_copy_path(copy) %> |
        <%= link_to "Delete", "#" %>
      </p>
    <% end %>
  </div>
<% end %>

<h4>Comments</h4>

<% @story.comments.each do |comment| %>
    <%= div_for comment, :class => (comment == @story.comments.last ? 'last' : '') do %>
      <%= image_tag comment.user.photo, :class => 'photo' %>
      <div class="inside-comment">
        <p><strong><%= comment.user.name %></strong> <%= time_ago_in_words(comment.created_at) %> ago</p>
        <%= comment.body %>
      </div>      
    <% end %>
<% end %>

<%= link_to 'Back', root_path %>
